body {
  background-color: white;
}

/* welcome page styling */

#start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-name {
  font-size: 50px;
}
.title-description {
  font-size: 15px;
  font-family: fantasy;
}

button {
  font-family: monospace;
  font-size: 20px;
  background-color: floralwhite;
  border-radius: 5px;
  border-color: black;
  margin: 20px;
}

/* game board page */

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-description {
  font-size: 10px;
  font-family: fantasy;
}
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  border: 5px solid #545e62;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
}

/* score page styling */
.score-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

li {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}

/* tile */

.tile {
  /* border: 1px solid red; */
  background-color: azure;
  border-radius: 5px;
  height: 90px;
  width: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.element {
  width: 72%;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
}
.atomicNum {
  display: flex;
  text-align: left;
  height: 70px;
  font-size: 15px;
  padding-left: 3px;
}

.x1 {
  /* Hydrogen[1] */
  background-color: #bcd4e6;
}
.x2 {
  /* Helium[2] */
  background-color: #add8e6;
}
.x4 {
  /* Lithium[3] */
  background-color: #c4d8e2;
}
.x8 {
  /* Beryllium[4] */
  background-color: #b0c4de;
}

.x16 {
  /* Boron[5] */
  background-color: #9bc4e2;
}
.x32 {
  /* Carbon[6] */
  background-color: #7ea4b3;
}
.x64 {
  /* Nitrogen[7] */
  background-color: #aec6cf;
}

.x128 {
  /* Oxygen[8] */
  background-color: #b4c4c9;
}

.x256 {
  /* Fluorine[9] */
  background-color: #bac1c4;
}

.x512 {
  /* Neon[10] */
  background-color: #c0bfbe;
}
