@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap" rel="stylesheet');

body {
  background-color: white;
}

/* welcome page styling */

#start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-name {
  font-size: 100px;
  font-family: "DynaPuff", cursive;
}
.title-description {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  margin: -10px;
}

button {
  font-family: "Cute Font", cursive;
  font-size: 30px;
  background-color: #4f86f7;
  color: whitesmoke;
  border-radius: 20px;
  border-color: black;

  margin-top: 50px;
}

.upDown {
  display: flex;
  flex-direction: column;
}
.buttons-layout {
  display: flex;
  flex-direction: row;
}
/* game board page */

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-description {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 20px;
}
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  border: 5px solid #b4cefb;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
}

/* score page styling */
.score-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

li {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}

/* tile */

.tile {
  /* border: 1px solid red; */
  background-color: #dde9fd;
  border-radius: 5px;
  height: 90px;
  width: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.element {
  width: 100%;
  height: 100%;
}
.atomicNum {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
  font-size: 23px;
  padding-left: 3px;
}

.elementName {
  font-size: 50px;
  text-align: center;
}
/* ---------------------- elements ---------------------- */

.x1 {
  /* Hydrogen[1] */
  background-color: #bcd4e6;
}
.x2 {
  /* Helium[2] */
  background-color: #add8e6;
}
.x3 {
  /* Lithium[3] */
  background-color: #c4d8e2;
}
.x4 {
  /* Beryllium[4] */
  background-color: #b0c4de;
}

.x5 {
  /* Boron[5] */
  background-color: #9bc4e2;
}
.x6 {
  /* Carbon[6] */
  background-color: #7ea4b3;
}
.x7 {
  /* Nitrogen[7] */
  background-color: #aec6cf;
}

.x8 {
  /* Oxygen[8] */
  background-color: #b4c4c9;
}

.x9 {
  /* Fluorine[9] */
  background-color: #bac1c4;
}

.x10 {
  /* Neon[10] */
  background-color: #c0bfbe;
}

.x11 {
  /* Sodium[11] */
  background-color: #c5bdb9;
}

.x12 {
  /* Magnesium[12] */
  background-color: #cabab3;
}

.x13 {
  /* Aluminum[13] */
  background-color: #cfb8ae;
}

.x14 {
  /* Silicon[14] */
  background-color: #d1bea8;
}

.x15 {
  /* Phosphorus[15] */
  background-color: #c4aead;
}

.x16 {
  /* Sulfur[16] */
  background-color: #c9c0bb;
}

.x17 {
  /* Sulfur[17] */
  background-color: #c6c2b6;
}

.x18 {
  /* Argon[18] */
  background-color: #ebc2af;
}

.x19 {
  /* Potassium[19] */
  background-color: #edc9af;
}

.x20 {
  /* Calcium[20] */
  background-color: #e7c9a9;
}

.x21 {
  /* Scandium[21] */
  background-color: #e2be9f;
}

.x22 {
  /* Titanium[22] */
  background-color: #fbceb1;
}

.x23 {
  /* Vanadium[23] */
  background-color: #fcc9b9;
}

.x24 {
  /* Chromium[24] */
  background-color: #f7ccbf;
}

.x25 {
  /* Manganese[25] */
  background-color: #f2cfc4;
}

.x26 {
  /* Iron[26] */
  background-color: #edd2ca;
}
.x27 {
  /* Cobalt[27] */
  background-color: #e7d5d0;
}

.x28 {
  /* Nickel[28] */
  background-color: #e1d8d5;
}
.x29 {
  /* Copper[29] */
  background-color: #dbdbdb;
}
.x30 {
  /* Zinc[30] */
  background-color: #caebdc;
}

.x31 {
  /* Gallium[31] */
  background-color: #c9ffe5;
}

.x32 {
  /* Germanium[32] */
  background-color: #aaf0d1;
}

.x33 {
  /* Arsenic[33] */
  background-color: #9fe2bf;
}

.x34 {
  /* Selenium[34] */
  background-color: #a0d6b4;
}

.x35 {
  /* Bromine[35] */
  background-color: #88d8c0;
}

.x36 {
  /* Krypton[36] */
  background-color: #d0f0c0;
}

.x37 {
  /* Rubidium[37] */
  background-color: #f88379;
}

.x38 {
  /* Strontium[38] */
  background-color: #9966cc;
}

.x39 {
  /* Yttrium[39] */
  background-color: #fff44f;
}

.x40 {
  /* Zirconium[40] */
  background-color: #f2003c;
}
